<!DOCTYPE html>
<html>
<head>
    <title>Interview Creation App</title>
    
    <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <script src="https://kit.fontawesome.com/5258c2a186.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"> 
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
        <div class="item hvr-grow ">
            
            <span>
                <h3 id="strike"><%= document.name_interviewer %> x <%= document.name_student %></h3>
                <p id="strike2"><i class="far fa-calendar-alt"></i> <%= document.startDate %>, <%= document.startTime %></p>
                
            </span>
        </div>

</body>